* {
    box-sizing: border-box;
}
body{
    background-color: var(--black);
}
h1{
    font-size: var(--h1);
    color: var(--white);
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 5px;
}

h2{
    font-size: var(--h2);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 100;
}

h3{
    font-size: var(--h3);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 100;
}

p{
    font-size: var(--body-main);
    color: var(--white);
}

figcaption{
    color: var(--light);
    font-size: var(--small-body);
    display: none;
}

.text-menu{
    font-size: var(--text-menu);
    color: var(--white);
    font-weight: lighter;
}

.separateur{
    position: relative;
    width: 95%;
    height: 0.5px;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%);
    margin-top: 3.625rem;
    margin-bottom: 3.625rem;
}

.bouton{
    font-size: var(--bouton);
    font-weight: lighter;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--white);
}