:root{
/* Color styles */
--main: rgba(71, 72, 54, 1);
--light: rgba(174, 175, 169, 1);
--black: rgba(18, 18, 18, 1);
--white: rgba(255, 255, 255, 1);
--bouton-carrousel: rgba(62, 62, 62, 0.44999998807907104);

font-family:'Merriweather', 'serif';


/* Text-size styles */
/* base size: body-main (12px) */
--h1: 3rem;
--h1-oeuvre: 3rem;
--h1-accueil: 4rem;
--h2: 1.1rem;
--h3: 1rem;
--body-main: 0.8rem;
--small-body: 0.7rem;
--text-menu: 0.9rem;
--bouton: 0.9rem;
--caption: 0.5rem;

/* Effect styles */
--effect-menu:  -2px 0px 5px rgba(0, 0, 0, 0.3);
--effect-oeuvre:  0px -2px 2px rgba(0, 0, 0, 0.25);
}