.erreur{
    position: relative;
    text-align: center;
}

.erreur h1{
    margin-top: 40%;
    font-style: normal;
}

.erreur__p{
    margin-top: 10%;
    text-decoration: underline;
}

.erreur label{
    color: var(--white);
    font-size: var(--small-body);
}

