.accueil>p:first-child{
    margin-top: 7rem;
    position: relative;
    margin-left: 0.625rem;
    font-size: var(--small-body);
    font-style: italic;
    color: var(--light);
}

.accueil__firstseparateur{
    width: 95%;
    height: 0.5px;
    background-color: var(--light);
    position: relative;
    margin-left: 0.625rem;
}

.accueil__h1{
    margin: 0;
    font-size: var(--h1-accueil);
    color: var(--white);
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 20px;
    position: relative;
    margin-top: 2rem;
    margin-left: 0.625rem;
}
figure{
    margin: 0;
}
.gallery{
    column-count: 2;
    column-gap: 0.625rem;
    column-width: 50%;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.left__1-2{
    display: flex;
    gap: 0.625rem;
}

.gallery__right img{
    margin-top: -2.5rem;
}

.accueil__h1 + p{
    font-size: var(--small-body);
    font-style: italic;
    text-align: center;
    position: relative;
}

.left__1-2 figcaption{
    margin-left: 0.625rem;
}
.gallery__img1{
    width: 86px;
    position: relative;
    margin-left: 0.625rem;
}

.gallery__img2{
    width: 73px;
    position: relative;
}

.gallery__img3{
    width: 169px;
    position: relative;
    margin-top: 1rem;
    margin-left: 0.625rem;
}


.gallery__img4{
    width: 176px;
    position: relative;
}

.accueil__position{
    margin-top: 44.188rem;
}

.down{
    position: relative;
    right: 0;
    left: 0;
    background-color: var(--main);
    padding: 10% 2%;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    bottom: -25px;
}

.down__chevrondown{
    width: 5.625rem;
    height: 1.875rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);    
}

.down__separateur{
    position: relative;
    width: 95%;
    height: 0.5px;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%);
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.down h2{
    background-color: var(--main);
}

/*Frise*/

.frise{
    background-color: var(--black);
    border-radius: 25px;
}

.frise img{
    width: 6.5rem;
}

.frise__scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: center;
    gap: 22rem;
}

.scroll__profil{
    display: block;
    width: 22.125rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.scroll__profil div{
    display: flex;
    flex-direction: row;
}

.frise__scroll h3{
    width: 100%;
}