.artiste{
    padding: 0.625rem;
}

.artiste h1{
    margin-top: 7.938rem;
    margin-bottom: 2.188rem;
    text-align: right;
}

.artiste__gallery{
    display: flex;
    flex-direction: row;
    margin-bottom: 3.375rem;
}

.artiste__gallery img{
    width: 20%;
}

.artiste__intro{
    text-align: center;
}

.artiste__grid1 {
    display: grid;
    gap: 5%;
}

.artiste__grid1 h2{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.artiste__grid1 p{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    line-height: 150%
}


.artiste__grid2 {
    display: grid;
    gap: 5%;
}

.artiste__grid2 h2{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.artiste__grid2 p{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    line-height: 150%
}


.artiste__grid3 {
    display: grid;
    gap: 5%;
}

.artiste__grid3 h2{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.artiste__grid3 p{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    line-height: 150%
}

/* Carrousel */ 

.artiste__h2{
    padding-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel {
    position: relative;
}
  
.carrousel_btn {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: var(--black);
    border-radius: 100%;
    border: none;
    display: grid;
    place-content: center;
    color: var(--white);
}
  
.carrousel_btn-avant {
    left: 0;
}
  
.carrousel_btn-apres {
    right: 0;
}

.caroussel_liste-liens {
    border: solid;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1.875rem;
    padding: 10px 0 8px 0;
    list-style: none;
    gap: 1rem;
}

#ecran-1{
    margin: 0;
}

#ecran-1 button,#ecran-2 button{
    font-size: var(--small-body);
    font-weight: lighter;
    background-color: var(--main);
    text-decoration: none;
    border: none;
    padding: 2%;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
    margin-bottom: 3rem;
}