.contact h1{
    margin-top: 7.625rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20% 5% 25% 5%;

    gap: 15%;
    background-color: var(--main);
    border-radius: 10px;
    padding: 10% 5%;
}

.form__nom{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

input[type="text"],input[type="email"],textarea{
    width: 100%;
    background-color: var(--main);
    color: var(--white);
    border: 0;
}

.form__mep{
    display: flex;
    flex-direction: column;
}
.form__separateur{
    display: block;
    height: 0.5px;
    width: 100%;
    background-color: var(--white);
    margin: 1% 0 10% 0;
}

::placeholder{
    color: var(--white);
    font-size: var(--small-body);
}

button[type="submit"]{
    width: 100%;
    border: 0;
    box-shadow: 0px 5px 10px var(--darker);
    background-color: var(--white);
    padding: 3%;
    border-radius: 5px;
    color: var(--main);
    font-size: var(--little-button);
    text-transform: uppercase;
}